.DS_Store
.idea/editor.xml
.idea/Endpoint_Protection_Platform.iml
.idea/misc.xml
/.idea
/MalwareHashes
/.idea
.idea/workspace.xml
/build
/WindowsAv_autogen
ara proje rapor 1 v1
ara proje rapor 1 v3
ara proje rapor 1 v4
ara proje rapor 1v2
/.idea
/.idea
*.png
/MalwareHashes