build/
cmake-build-debug/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.user
*.DS_Store
*.swp
*.swo
*.log
*.tmp
*.bak
*.old
*.out
*.pyc
__pycache__/
Testing/
build/MalwareHashes/identifier.sqlite
MalwareHashes